html,
body {
    height: 100%;
    background-color: rgba(0, 247, 125, 0.5);
    margin: 0;
    box-sizing: border-box;
}

.full-height {
    height: 88%;
    text-align: center;
    padding-top: 5%;
}

#game-area {
    border-radius: 30px;
    background-color: #333;
}