

html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    /*background-color: #50C878;*/
    background-color: rgba(0,247,125,0.7);
    height: 100%;
    padding : 5% 5% 3%;
    text-align: center;
}

#game-area {
    background-color: #333;
    box-shadow: 5px 5px rgba(5,5,5,0.4);
}