* {
    box-sizing: border-box;
}

html,
body {
    background-color: palegreen;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 95%;
}


.top-div {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    width: 100%;
    height: 100%;
}

canvas {
    background-color: #333;
}
