* {
    box-sizing: border-box;
}

html,
body {
    background-color: palegreen;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.top-div {
    padding-top: 1%;
    text-align: center;
    width: 100%;
    height: 90%;
}

#game-area {
    background-color: #333;
    height: 82%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

#control-pad {
    margin-bottom: 1%;
    margin-top: 0.5%;
    background-color: #333;
    height: 25%;

}

@media(min-width: 992px) {
    .visible-sm {
        display: none;
    }
}

.visible-sm {
    position: relative;
}

#finger {
    display: inline;
    background-color: white;
    border-radius: 50%;
    width: 4%;
    position: absolute;
}